<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fantasy Football Rankings Login</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/cover.css" rel="stylesheet">

  </head>

  <body ng-app="PassportApp">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">FFRank</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="#home">Home</a></li>
                  <li><a href="#profile">Profile</a></li>
                  <li><a href="#search">Search</a></li>
                  <li><a href="#about">About</a></li>
                  <li class="active"><a href="#login">Log In</a></li>
                  <li><a href="#register">Register</a></li>

                </ul>
              </nav>
            </div>
          </div>

	      <form class="form-signin">
	        <h2 class="form-signin-heading">Sign in</h2>
	        <label for="inputUsername" class="sr-only">Email address</label>
	        <input ng-model="user.username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
	        <label for="inputPassword" class="sr-only">Password</label>
	        <input ng-model="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	        <div class="checkbox">
	          <label>
	            <input type="checkbox" value="remember-me"> Remember me
	          </label>
	        </div>
	        <button ng-click="login(user)" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	      </form>


        </div>
      </div>
    </div>
    <div class="container">

 

    </div> <!-- /container -->

  </body>
</html>
