<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Fantasy Football Rankings Profile</title>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/cover.css" rel="stylesheet">

        <link href="../css/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
        <link href="../css/jquery-ui-1.11.4/jquery-ui.min.css" rel="stylesheet">
        <link href="../css/jquery-ui-1.11.4/jquery-ui.structure.css" rel="stylesheet">
        <link href="../css/jquery-ui-1.11.4/jquery-ui.structure.min.css" rel="stylesheet">
        <link href="../css/jquery-ui-1.11.4/jquery-ui.theme.css" rel="stylesheet">
        <link href="../css/jquery-ui-1.11.4/jquery-ui.theme.min.css" rel="stylesheet">

        <style>
            .positional-rankings { list-style-type: none; margin-left: auto; margin-right: auto; padding: 5px; width: 85%; background-color: #d2d2d2; }
            .positional-rankings li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; color:black; font-family: "Times New Roman", Times, serif; }
            .positional-rankings li span { position: absolute; margin-left: -1.3em; }
            .player-position { list-style-type: none; padding: 0; margin: 0; }
            .player-lists { padding-top: 170px; }
            .col-md-4 { overflow-y: scroll; height: 300px; }
            html { position: relative; min-height: 100%; }
            body { margin-bottom: 60px; }
            .footer { position: fixed; bottom: 0; width: 100%; height: 60px; background-color: blue; }
            body > .container { padding: 60px 15px 0; }
            .container .text-muted { margin: 20px 0; }
            .footer > .container { padding-right: 15px; padding-left: 15px; }
            code { font-size: 80%; }
            .row { padding-top: 20px; padding-bottom: 20px; }
            .btn-warning { margin-right: 20px; margin-top: 100px;}
        </style>
        <script src="../js/jquery-1.11.2.js"></script>
        <script src="../css/jquery-ui-1.11.4/jquery-ui.js"></script>
        <script>
            $(function() {
                $( ".positional-rankings" ).sortable();
            });
        </script>

        <script>

            // function parseXML(position) {
            
            //     if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            //         xmlhttp=new XMLHttpRequest();
            //     }
            //     else {// code for IE6, IE5
            //         xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            //     }

            //     var filename = "../xml/" + position + ".xml";

            //     xmlhttp.open("GET", filename, false);
            //     xmlhttp.send();
            //     xmlDoc=xmlhttp.responseXML; 

            //     document.write("<ul>");

            //     var allPlayerObjects = xmlDoc.getElementsByTagName("Player");
            //     var allPlayerNames = [];

            //     for (i = 0; i < allPlayers.length; i++) { 
            //         console.log("player: " + allPlayers[i].getAttribute("displayName"));
            //         allPlayerNames.push(allPlayers[i].getAttribute("displayName"));
            //     }

            //     document.write("</ul>");

            //     return allPlayerNames;
            // };

        </script>

    </head>

    <body ng-app="FFApiApp"><!--Change back to PassportApp to make things work in future?-->
        <div class="profile-wrapper">
            <div class="site-wrapper-inner">
                <div class="container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">FFRank</h3>
                            <nav class="top-nav">
                                <ul class="nav masthead-nav">
                                    <li><a href="#home">Home</a></li>
                                    <li class="active"><a href="#profile">Profile</a></li>
                                    <li><a href="#search">Search</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#favorites">Favorites</a></li>
                                    <li><a href="#login">Log In</a></li>
                                    <li><a href="#register">Register</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>


                <div>
                    <button ng-click="addToFavorites(user.username)" type="button" class="btn btn-lg btn-warning pull-right">Favorite</button>
                </div>


                <div ng-controller="parseXML" class="container player-lists">
                    <!-- <h2>{{playersByPosition}}</h2> -->
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Quarterback</h2>
                            <div class="positional-rankings">
                                <ul ng-repeat="qb in quarterbacks.results" class="player-position">
                                    <li class="ui-state-default">
                                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                        {{qb.first_name}} {{qb.last_name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2>Running Back</h2>
                            <div class="positional-rankings">
                                <ul ng-repeat="rb in runningbacks.results" class="player-position">
                                    <li class="ui-state-default">
                                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                        {{rb.first_name}} {{rb.last_name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2>Wide Receiver</h2>
                            <div class="positional-rankings">
                                <ul ng-repeat="wr in widereceivers.results" class="player-position">
                                    <li class="ui-state-default">
                                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                        {{wr.first_name}} {{wr.last_name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h2>Tight End</h2>
                            <div class="positional-rankings">
                                <ul ng-repeat="te in tightends.results" class="player-position">
                                    <li class="ui-state-default">
                                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                        {{te.first_name}} {{te.last_name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2>Defense/Special Teams</h2>
                            <div class="positional-rankings">
                                <ul ng-repeat="dst in defenses.results" class="player-position">
                                    <li class="ui-state-default">
                                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                        {{dst.last_name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2>Kickers</h2>
                            <div class="positional-rankings">
                                <ul ng-repeat="k in kickers.results" class="player-position">
                                    <li class="ui-state-default">
                                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                        {{k.first_name}} {{k.last_name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </body>
</html>